@use "../../styles/variables" as var;

.tag {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  gap: 2px;
  border-radius: 5px;

  font-size: 0.875rem;
  font-weight: 700;

  // background-color: var.$light-blue;
  // color: var.$primary;
  // background-color: #b5e4ca;

  &--default {
    background-color: var.$heavy-gray;
  }

  .close-symbol {
    // height: 18px;
    // width: 10px;
  }
}
