@use "../../styles/variables" as var;

.tag {
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  gap: 4px;
  border-radius: 5px;

  font-size: 0.875rem;
  font-weight: 700;

  &--default {
    background-color: var.$heavy-gray;
  }

  &--green {
    color: var.$green;
    background-color: var.$light-green-2;
  }

  &--two-tone {
    color: var.$font-color;

    &.tag--green {
      background-color: var.$light-green;
    }
    &.tag--blue {
      background-color: var.$light-blue;
    }
    &.tag--orange {
      background-color: var.$light-orange;
    }
    &.tag--red {
      background-color: var.$light-green;
    }
  }

  &--closable {
    padding-right: 8px;
  }
}
