@use "../../styles/variables" as var;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  padding: 8px 20px;

  font-size: 0.9rem;
  font-weight: 600;

  border: none;
  border-radius: 6px;

  &.-primary {
    background: var.$primary;
    color: var.$white-color;
  }
  &.-secondary {
    background: var.$primary;
    color: var.$primary;
  }
  &.-text {
    background-color: transparent;
    color: var.$primary;
  }
  a {
    color: var.$white-color;
  }

  * {
    cursor: pointer;
  }
}
