.manage-blog {
  background-color: $white-color;

  padding: 30px 20px;
  border-radius: 5px;

  .manage-blog__line {
    margin-bottom: 40px;

    input {
      margin-left: 40px;
      min-width: 300px;
    }
  }

  .view-mode {
    .view-mode__item {
      cursor: pointer;

      span {
        cursor: pointer;
      }

      &__checkbox {
        z-index: 1;
      }

      &__title {
        font-weight: 600;

        span {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
        }
      }

      &__time {
        font-size: 0.9rem;
        color: $light-font-color;
      }

      &__authors {
        display: flex;

        .author {
          margin-left: -3px;

          img {
            box-shadow: 0 0 0 3px $white-color;

            display: flex;
            align-items: center;
            justify-content: center;

            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
        }
      }

      &__toolbox {
        button {
          height: 25px;
          width: 25px;
          padding: 5px;
          margin: 0 10px;
          border-radius: 50%;
          box-sizing: content-box;

          color: $light-font-color;
          background-color: $white-color;

          &:hover {
            color: $font-color;
            transform: scale(1.1);
          }
        }
      }
    }

    &.-list {
      .view-mode__item {
        display: flex;
        align-items: center;

        width: 100%;
        padding: 15px;
        border-radius: 10px;

        &:not(.-header) {
          &:hover {
            background-color: $light-gray;
          }
        }

        &:hover {
          .view-mode__item__toolbox {
            button {
              visibility: visible;
            }
          }
        }

        &.-active {
          background-color: $light-gray;
        }

        span {
          &:not(:first-of-type):not(:last-of-type) {
            margin-left: 40px;
          }

          &.view-mode__item__title {
            padding: 10px;
          }
        }

        &.-header {
          color: $light-font-color;
          font-weight: 600;
          font-size: 0.9rem;

          cursor: default;
        }

        &__image {
          flex: 0 0 80px;

          img {
            height: 80px;
            width: 80px;
            border-radius: 8px;
          }
        }

        &__title {
          flex: 1;
        }

        &__status {
          flex: 0 0 127px;
        }

        &__time {
          flex: 0 0 175px;
        }

        &__authors {
          flex: 0.4;
        }

        &__toolbox {
          flex: 0.5;

          button {
            margin: 0 15px;
            visibility: hidden;
          }
        }
      }
    }

    &.-grid {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;

      margin-left: -8px;
      margin-right: -8px;

      .view-mode__item {
        position: relative;

        flex: 0 0 280px;

        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        // max-width: 280px;
        margin-bottom: 20px;

        &:hover {
          .view-mode__item__checkbox {
            display: block;
          }
          .view-mode__item__toolbox {
            display: flex;
          }
        }

        &.-active {
          .view-mode__item__checkbox {
            display: block;
          }

          .view-mode__item__image {
            border: 3px solid $primary;
          }
        }

        &__checkbox {
          position: absolute;
          top: 10px;
          left: 10px;

          display: none;
        }

        &__image {
          height: 180px;
          width: 100%;
          border-radius: 12px;

          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
          }
        }

        &__title {
          width: 100%;
          margin-top: 10px;
        }

        &__status {
          order: 1;
          margin-left: auto;

          display: flex;
          align-items: center;
        }

        &__time {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          width: 100%;

          svg {
            color: $light-font-color;
            margin-right: 5px;
          }
        }

        &__authors {
          max-width: calc(100% - 90px);
        }

        &__toolbox {
          display: none;

          position: absolute;
          top: 3px;
          left: 3px;

          height: calc(180px - 6px);
          width: calc(100% - 6px);
          border-radius: 12px;

          background-color: rgba($color: $font-color, $alpha: 0.4);
        }
      }
    }
  }
}
