.sidebar {
  width: 96px;
  padding: 16px;
  box-shadow: 2px 0 0 $heavy-gray;

  background-color: $white-color;

  z-index: 1;

  &.-active {
    text-align: center;

    .item__heading,
    span {
      display: none;
    }
  }

  .logo {
    margin-bottom: 45px;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 10px 20px;
    border-radius: 8px;

    color: rgba($color: $font-color, $alpha: 0.5);

    &.-active {
      color: $font-color;
      background-color: $light-gray;
    }

    svg {
      height: 24px;
      width: 24px;
    }
  }
}
