.hidden {
  display: none !important;
}

.relative {
  position: relative;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

.h1,
h1 {
  font-size: 4rem;
}
.h2,
h2 {
  font-size: 3rem;
}
.h3,
h3 {
  font-size: 2rem;
}
.h4,
h4 {
  font-size: 1.25rem;
}
.h5,
h5 {
  font-size: 1rem;
}
.h6,
h6 {
  font-size: 0.9rem;
}

.full-dimension {
  height: 100%;
  width: 100%;
}

.screen-size {
  width: $screen-width;
  height: $screen-height;
}

// .tag {
//   font-size: 0.8rem;
//   font-weight: 700;

//   display: inline-flex;
//   align-items: center;
//   padding: 4px 10px;
//   border-radius: 5px;

//   background-color: #b5e4ca;
// }

.tick-symbol {
  position: relative;

  height: 24px;
  width: 24px;

  cursor: pointer;

  &:hover {
    &::after {
      border-color: $font-color;
    }
  }

  &::after {
    content: "";

    display: block;
    width: 7px;
    height: 14px;
    border: solid $light-font-color;
    border-width: 0 2.4px 2.4px 0;

    position: absolute;
    top: 15%;
    left: 37%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
  }
}

.expand-symbol {
  position: relative;

  height: 24px;
  width: 24px;
  border-radius: 4px;
  border: 2px solid $light-font-color;

  cursor: pointer;

  &:hover {
    border-color: $font-color;
  }

  &::before {
    content: "";

    display: block;
    width: 100%;
    height: 4px;
    box-sizing: content-box;
    border: 2px solid $white-color;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";

    display: block;
    height: 100%;
    width: 4px;
    box-sizing: content-box;
    border: 2px solid $white-color;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.close-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  font-weight: 800;
  line-height: 0.2rem;

  cursor: pointer;

  &:hover {
    &::after {
      color: $font-color;
    }
  }

  &::after {
    font-size: 1rem;
    content: "x";
    color: $light-font-color;
  }
}
