.app {
  height: 100vh;
  width: 100vw;
  display: flex;

  background-color: $n2;
}

.layout {
  flex: 1;

  display: flex;
  flex-direction: column;

  overflow: auto;
}

.page {
  &__inner {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  &__container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .card {
      position: relative;
      padding: 24px;
      background: #fcfcfc;
      border-radius: 8px;
    }
  }

  &__title {
    margin-bottom: 24px;
  }
}
