// Sizes
$app-sidebar-width: 120px;
$note-sidebar-fullwidth: 340px;
$screen-width: 100vw;
$screen-height: 100vh;

$mobile: 575px;
$tablet: 768px;
$desktop: 991px;

$note-header-height: 60px;

// Colors
$primary: #2a86ff;
$secondary: #19f0f0;
$font-color: #272b30;
$light-font-color: #6f767e;
$white-color: #fcfcfc;
$light-gray: #f4f4f4;
$heavy-gray: #efefef;
$link-color: #647fff;
$green: #83bf6e;
$warning: #ffcc00;
$error: #ff6a55;
// $light-theme-background: #f9f6ff;

$light-blue: #b1e5fc;

$light-green: #b5e4ca;
$light-green-2: #eafae5;

$light-orange: #ffbc9a;
$light-purple: #cbbeff;

// colors
$p1: #2a85ff;
$p2: #83bf6e;
$p3: #ff6a55;
$p4: #8e59ff;

$s1: #ffbc99;
$s2: #cabdff;
$s3: #b1e5fc;
$s4: #b5e4ca;
$s5: #ffd88d;

$n: #ffffff;
$n1: #fcfcfc;
$n2: #f4f4f4;
$n3: #efefef;
$n4: #6f767e;
$n5: #33383f;
$n6: #272b30;
$n7: #1a1d1f;
$n8: #111315;

$shades1: #9a9fa5;
$shades2: #6f767e;
$shades3: rgba(#6f767e, 0.4);
$shades4: rgba(#111315, 0.5);

$box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.08);

// Font
// $sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family: "Nunito", sans-serif;

$monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

// Elements
$buttons: (
  ".button, a.button, button, [type=submit], [type=reset], [type=button]"
);
$forms: (
  "[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea"
);
