.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.4);

  .modal {
    height: fit-content;
    min-width: 300px;
    padding: 30px 20px;
    margin-top: 200px;
    border-radius: 8px;
    // margin-top: 30px;

    background-color: $white-color;

    box-shadow: 0px 10px 20px rgba($color: $light-font-color, $alpha: 0.2);

    .modal__header {
      padding-bottom: 25px;
      box-shadow: 0 1.5px 0 $heavy-gray;

      button {
        font-weight: 800;
        line-height: 0.2rem;

        height: 30px;
        width: 30px;
        padding: 5px;
        border-radius: 50%;

        overflow: hidden;

        color: $light-font-color;
        background-color: $light-gray;

        &:hover {
          font-size: 1.1rem;
        }
      }
    }

    .modal__footer {
      padding-top: 25px;
      box-shadow: 0 -1.5px 0 $heavy-gray;

      button {
        margin-left: auto;
        // padding: 7px 14px;

        // font-weight: 600;
        font-size: 0.8rem;
      }
    }
  }
}
