@use "../../styles/variables" as var;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.4);

  .modal {
    height: fit-content;
    max-height: 1000px;
    min-width: 600px;
    padding: 30px 20px;
    margin: auto;
    border-radius: 8px;

    background-color: var.$white-color;

    box-shadow: 0px 10px 20px rgba($color: var.$light-font-color, $alpha: 0.2);

    &__header {
      padding-bottom: 25px;
      box-shadow: 0 1.5px 0 var.$heavy-gray;

      button {
        padding: 6px;
        border-radius: 50%;

        background-color: var.$n3;

        overflow: hidden;
        transition: transform 0.25s;

        &:hover {
          transform: rotate(90deg);
        }

        .icon {
          color: var.$n6;

          path {
            stroke-width: 2px;
          }
        }
      }
    }

    .modal__footer {
      padding-top: 25px;
      box-shadow: 0 -1.5px 0 var.$heavy-gray;

      button {
        margin-left: auto;
        // padding: 7px 14px;

        // font-weight: 600;
        font-size: 0.8rem;
      }
    }
  }

  @media (min-width: 651px) {
    .codex-editor--narrow .codex-editor__redactor {
      margin-right: 0;
    }
  }
}
