@use "../../styles/variables" as var;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 24px;

  background-color: var.$n1;

  .logo {
    margin-bottom: 45px;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 10px 20px;
    border-radius: 8px;

    color: rgba($color: var.$n6, $alpha: 0.5);
  }

  &__menu {
    position: relative;
    display: flex;
    flex-direction: column;

    &:hover {
      .test {
        display: inline;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;

    width: 100%;
    height: 48px;
    padding: 0 12px;
    border-radius: 12px;

    color: var.$n4;
    font-weight: 600;

    white-space: nowrap;

    &:hover {
      color: var.$p1;

      .icon {
        color: var.$p1;
      }
    }

    &--active {
      color: var.$p1;
      background-color: rgba($color: var.$s3, $alpha: 0.5);

      &:hover {
        color: var.$p1;
      }

      .icon {
        color: var.$p1;
      }
    }

    .icon {
      path {
        stroke-width: 1.6px;
      }
    }
  }
}
