.avatar {
  background: none;

  img {
    width: 48px;
    height: 48px;
    padding: 2px;
    border-radius: 50%;
    vertical-align: middle;
    object-position: center;
    object-fit: cover;
    border: 2px solid gray;
  }
}
