@use "../../styles/variables" as var;

.toggle-view {
  .button {
    height: fit-content;
    width: fit-content;
    padding: 8px;
    margin-left: 12px;
    border-radius: 8px;

    overflow: hidden;
    box-sizing: content-box;

    &:not(.-active) {
      &:hover {
        transform: scale(1.1);
      }
    }

    &.-active {
      background-color: var.$n1;
      box-shadow: 0px 4px 8px -1px rgba($color: var.$n6, $alpha: 0.2),
        inset 0px -1px 1px rgb(0 0 0 / 4%),
        inset 0px 2px 0px rgb(255 255 255 / 25%);

      .icon {
        color: var.$n6;
      }
    }
  }
}
